In [13]:
from __future__ import division, print_function
%matplotlib inline
import utils;
from importlib import reload; reload(utils)
from utils import *

In [17]:
path = "../../dataset/ml-latest-small/"
model_path = path
if not os.path.exists(model_path): os.mkdir(model_path)
batch_size=64

In [18]:
ratings = pd.read_csv(path+'ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931